/*Dit is de stijling voor de ipad landscape versie van de website*/
/*Dit is voor de hover animatie in de navigatie*/
.active2 {
  font-size: 18px;
  margin-left: -6px;
  margin-right: -6px;
}

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
    margin-top: 0px;
  }

