/*Dit is de stijling voor de ipad pro versie van de website*/
/*Dit is voor de hover animatie in de navigatie*/
.active2 {
  font-size: 18px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0px;

}

.navbar-nav.navbar-right:last-child {
    margin-right: 20px;
    margin-top: 20px;
  }

/*Dit is voor de footer*/
footer {
    padding-left: 70px;
}