/*Dit is de stijling voor de ipad landscape versie van de website*/
/*Dit is voor de hover animatie in de navigatie*/
.active2 {
  font-size: 18px;
  margin-left: -6px;
  margin-right: -6px;
}

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
    margin-top: 0px;
  }

.pt-box.pt-box-2 {
    background: #fff;
    border-bottom: 5px solid #227722;
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    padding: 30px;
    max-height: 545px;
    min-height: 545px;
}

.pt-box.pt-box-3 {
    background: #fff;
    border-bottom: 5px solid #227722;
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    padding: 30px;
    max-height: 545px;
    min-height: 545px;
}