/*Dit is de stijling voor de mobiel landscape versie van de website*/


/*Dit is voor het logo*/
.logo{
    width: 12%;
}

/*Dit is voor de footer*/
footer {
    padding-left: 30px;
}

.pt-box.pt-box-consult2 {
    background: #fff;
    border-bottom: 5px solid #30866f;
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    padding: 30px;
    max-height: 350px;
    min-height: 350px;
}

#Quote-1{
    display:none;
}

#Quote-mobiel{
    display:block;
}